  /* custom css */
  body {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.8;
    font-weight: 500;
    background: #ffffff;
    
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
}
#sidebar{
    background: #4169E2;
    color: #fff;
    min-width: 17rem;
    width:15rem;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 3px 3px 10px rgb(0 0 0 / 10%);
    z-index: 3;
}
  #content{
    background-color: #fff  !important;
    padding: 2% 2% 0% 20%;
  }
  .navbar{
    background-color: #fff !important;
    margin-bottom: 15px;
  }
  .card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0px solid #fff;
    border-radius: 11px;
    /* -webkit-box-shadow:  2px 2px 4px 3px rgb(0 0 0 / 2%), 0px 2px 0px 1px rgb(0 0 0 / 2%);
    -moz-box-shadow: 2px 2px 4px 3px rgb(0 0 0 / 2%), 0px 2px 0px 1px rgb(0 0 0 / 2%);
    box-shadow: 2px 2px 4px 3px rgb(0 0 0 / 2%), 0px 2px 0px 1px rgb(0 0 0 / 2%); */
    -webkit-box-shadow:  2px 2px 4px 1px rgb(0 0 0 / 12%);
    -moz-box-shadow: 2px 2px 4px 1px rgb(0 0 0 / 12%);
    box-shadow: 2px 2px 4px 1px rgb(0 0 0 / 12%);
    margin-bottom: 20px;
}

.card .card-body {
    padding: 1rem 1rem;
}

.card-body {
    flex: 1 1 auto;
    padding: 1.25rem;
}

p {
    font-size: 0.875rem;
    margin-bottom: .5rem;
    line-height: 1.5rem;
}

h4 {
    line-height: .2 !important;
}

.profile {
    margin-top: 0px;
    margin-left: 0px;
}

.profile-pic {
    width: 48px;
}

.cust-name {
    font-size: 18px;
    padding-top: 10px;
}

.cust-name1{
    font-size: 14px; 
    padding-top: 25px !important;
} 

.cust-profession {
    font-size: 10px;
}

.btn-dark{
    color: #fff;
    background-color: #23272b;
    border-color: #1d2124;
    display: none !important;
}

/* .items {
    width: 90%;
    margin: 0px auto;
    margin-top: 100px
} */

.slick-slide {
    margin: 10px;
}
.nav-tabs{
 font-size: large;
}

.card button{
    background-color: #eae9fc;
    padding: 6px 12px;
    color: #2C1DEA;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
}
.card .orange{
    background-color: #fcf4e9;
    padding: 6px 12px;
    color: #EA961D;
    font-size: 12px;
    font-weight: 700;
}
.small-heading{
    font-size: 10px;
    text-transform: uppercase;
    color: #191D2A;
    opacity: 50%;
    letter-spacing: 0.1rem;
    
}
.small-heading1{
    font-size: 15px;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 0.1rem;
    
}
.small-heading2{
    font-size: 13px;
    color: #191D2A;
    opacity: 50%;    
}
.left-align{
    margin-left: 60%;
    color: #fff  !important;
    background-color:#4169e2 !important;
    
}
footer{
    background-color: #4169e2;
    padding: 0 0 0 15%;
}
.carousel-control-next {
    right: -3%;
}

.carousel-control-prev, .carousel-control-next {
    position: absolute;
    top: 0;
    bottom: 20px;
}

.carousel-control-prev {
    left: -44px;

}

.social i{
    color: #fff;
}
footer .text-center{
    color:#fff;
}

.main-heading{
    color:#fff;
}

.fa-heart{
    background: #dde2f0;
    border-radius: 50px;
    padding: 7px;
    color: #fff;
}

footer h5{
    color: #fff !important;
}
h4 {
    line-height: 1.2 !important;
}
.t-paid{
    font-size: 12px !important;
    color:#12142D;
    text-align: center;

}
.t-paid1{
    font-size: 24px !important;
    color:#46BE00;
}

.t-paid-name{
    font-size: 12px !important;
    color:#12142D;
    text-align: center;
    text-transform: uppercase;
}

.t-paid-date{
    font-size: 14px !important;
    color: #1A1E2B;
    text-align: center;
    opacity: 50%;
    letter-spacing: 1px;
}
.t-paid-rs{
    font-size: 28px !important;
    color:#46BE00;
    text-align: center;
}
.t-paid2{
    font-size: 14px !important;
    color:#1A1E2B;
    text-align: center;
}

.small-headinginvoice{
    font-size: 14px !important;
    color:#4169E2;
    font-size: 15px;
}
.small-heading-contract{
    padding-top: 10px;
    font-size: 10px;
    text-transform: uppercase;
    color: #191D2A;
    opacity: 50%;
    line-height: 0rem !important;
}


