{% extends 'dashboard.html' %}
{% block extra_css %}
	<link href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css" rel="stylesheet">
{% endblock %}
{% block content %}
    <div class="app-main__outer">
        <div class="app-main__inner"> 
        	<div class="row">
                <div class="col-md-6 col-xl-4">
                    <div class="card mb-3 widget-content bg-midnight-bloom">
                        <div class="widget-content-wrapper text-white">
                            <div class="widget-content-left">
                                <div class="widget-heading">Disputes</div>
                                <div class="widget-subheading">Disputes Raised By Guards</div>
                            </div>
                            <div class="widget-content-right">
                                <div class="widget-numbers text-white"><span>{{ disputes|length }}</span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
			<div class="table-responsive">
                <table class="align-middle mb-0 table table-borderless table-striped table-hover">
                    <thead>
                    <tr>
                        <th>ID</th>
		                <th>Title</th>
		                <!-- <th>Description</th> -->
                        <th>Created At</th>
                        <th>Submitted By</th>
                        <th>Status</th>
                        <!-- <th>Job</th>
                        <th>Member</th> -->
                        <th>ACTIONS</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for dispute in disputes %}
                    <tr>
                        <td class="text-center text-muted">{{ dispute.id }}</td>
                        <td class="text-center text-muted">{{ dispute.title }}</td>
                        <!-- <td class="text-center text-muted">{{ dispute.description }}</td> -->
                        <td class="text-center text-muted">{{ dispute.created_at }}</td>
                        <td class="text-center text-muted">{{ dispute.member }}</td>
                        <!-- <td class="text-center text-muted">{{ dispute.job }}</td>
                        <td class="text-center text-muted">{{ dispute.member }}</td> -->
                        <td class="text-center">
                            <div class="badge badge-warning">{{ dispute.status }}</div>
                        </td>
                        <td>
                            <a href="/viewMemberDispute/{{dispute.id}}"><button class="btn btn-primary">View</button>
                        </a>
                            <a href="/changeDisputeStatus/{{dispute.id}}"><button class="btn btn-primary">Change Status</button>
                        </a>
                        <a href="/deleteMemberDispute/{{dispute.id}}">
                            <button class="btn btn-danger delete_plan" data-id="{{ dispute.id }}">Delete</button></a>
                        </td> 
                          
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
    	</div>
	</div>

{% endblock %}
{% block extra_js %}
	<script type="text/javascript" src="/static/js/plan.js"></script>
{% endblock %}
