<!DOCTYPE html>
<html>
<head>
<style>
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 5px;
  text-align: left;
}
</style>
</head>
<body>


<h2>Invoice Details:</h2>

<table style="width:100%">
  <tr>
    <th>Company Name:</th>
    <td>{{ company_name }}</td>
  </tr>
  <tr>
    <th>Payment Date:</th>
    <td>{{ date_paid }}</td>
  </tr>
  <tr>
    <th>Total Hours:</th>
    <td>{{ total_hours }}</td>
  </tr>
  <tr>
    <th>Hourly Price:</th>
    <td>{{ total_hours }}</td>
  </tr>
  <tr>
    <th>Billing Period:</th>
    <td>{{ total_hours }}</td>
  </tr>
  <tr>
    <th>Total Invoice Amount:</th>
    <td>{{ total_amount }}</td>
  </tr>
</table>

</body>
</html>
