{% extends 'Employer/base.html' %}
{% block content %}
      <div class="bg-white pt-0 pb-6">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-3">
              <div class="my-3 mt-5">
                <div class="linklist active">
                  <a href="/profileEnquirer/" class="text-black">
                    <span class="fa fa-pencil-alt mr-3"></span>
                    <span class="txt">Edit Profile</span>
                  </a>
                </div>
               <!--  <div class="linklist">
                  <a href="/profileJobListing/" class="text-black">
                    <span class="fa fa-list mr-3"></span>
                    <span class="txt">Job Listing</span>
                  </a>
                </div> -->
                <div class="linklist">
                  <a href="/escrow/" class="text-black">
                    <span class="fa fa-file-invoice mr-3"></span>
                    <span class="txt">Escrow</span>
                  </a>
                </div>
              </div>
            </div>
            <div class="col-md-9">
              <div class="rightSect pt-5">
                <h2>Job Listing</h2>
                <div class="row">
                  <div class="col-md-12">
                    <div class="mt-3">
                      <div class="row">
                        {% for job in jobs %}
                          <div class="col-md-6">
                            <div class="card">
                              <div class="card-body">
                                <h3>{{ job.job_title }}</h3>
                                <p class="text-sm">
                                  {{ job.job_description }}
                                </p>
                                <div>
                                  <p class="listLocation mb-0">
                                    <span class="fa fa-map-marker mr-2"></span>
                                    <span>{{ job.city }}</span>
                                  </p>
                                  <p class="daysLeft mb-0">
                                    <span class="fa fa-map-marker mr-2"></span>
                                    <span>{{ job.days_left }} days left</span>
                                  </p>
                                </div>
                              </div>
                            </div>
                          </div>
                        {% endfor %}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
{% endblock %}

